---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account"
bodyClass: bg-cool-gray-200
---

<extends src="src/layouts/master.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-cool-gray-200">
          <table class="w-600 sm:w-full">
            <tr>
              <td>
                <!-- <component src="src/components/test-working.html"></component> -->
                <component src="src/components/test-not-working.html"></component>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
